---
import GameWrapper from "components/GameWrapper";
import Layout from "../layouts/Layout.astro";
---

<!-- 
  title="Excalibur Game"
  description="Juego desarrollado con Excalibur y Astro"
> --><!-- <div class="w-screen h-screen overflow-hidden">
    <GameWrapper client:only />
  </div> --><!-- </Layout> -->
<Layout
  title="Excalibur Game"
  description="Juego desarrollado con Excalibur y Astro"
>
  <GameWrapper client:only />
</Layout>
